<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="employeeDao" class="com.bbx.dao.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="employeeService" class="com.bbx.service.EmployService">
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>
	
	
	<bean id="employeAction" class="com.bbx.action.EmployeeAction"
		scope="prototype">
		<property name="empService" ref="employeeService"></property>
	</bean>

</beans>
